{% extends "shop/base.html" %}

{% block title %}
  Checkout
{% endblock %}

{% block content %}
  <script type="text/javascript"> 

    function checkForm(form) { 
        for (var i = 0; i < form.elements.length; i++) { 
            if (form.elements[i].type == "text" && form.elements[i].value == "") { 
                alert("送餐信息不完整")
                return false; 
            } 
        } 
        return true; 
    } 
    

  </script> 
  <form class="callout text-center" method="post" onsubmit="return checkForm(this)">
      <h2>请完善您的订单信息</h2>
      <div class="floated-label-wrapper">
        <label >联系电话</label>
        <input type="text" id="full-name" name="phone" placeholder="送餐时联系您的电话">
      </div>
      <div class="floated-label-wrapper">
        <label>付款微信</label>
        <input type="text" id="email" name="wechat" placeholder="店主将添加您的微信完成订单的支付">
      </div>
      <div class="floated-label-wrapper">
        <label >送餐地址</label>
        <input type="text" id="pass" name="address" placeholder="您取餐时的地点">
      </div>
      <div class="floated-label-wrapper">
          <label >送餐时间</label>
          <input type="text" id="pass" name="time" placeholder="您期望的取餐时间">
      </div>
      <input class="button expanded" type="submit" value="提交">
      {% csrf_token %}
    </form>
    
    

  

  <!-- <form action="." method="post" class="order-form">
    {{ form.as_p }}
    <p><input type="submit" value="Place order"></p>
    {% csrf_token %}
  </form> -->
{% endblock %}
